body{
  background-image:url('../congruent_pentagon/congruent_pentagon.png');
}

#container{
  background-color: #FFFF9D;
  box-shadow: 2px 2px 2px gray;
  border-radius:5px;
  height: 900px;
  width: 600px;
  margin: 30px auto 0px auto;
}

#container h1{
  color:#2F2933;
  font-family: 'Rubik Mono One', sans-serif;
  display:inline-block;
  margin: 20px;
  font-size:40px;
  text-shadow:1px 1px 1px gray;
}

#header{
  width:99%;
  height:100px;
  margin-top:0px;
}

#top-buttons{
  display:inline-block;
  width:140px;
  float:right;
  height:95px;
  margin-top:0px;
  padding-top:10px;
}

.button{
  background-color:#1695A3;
  box-shadow: 3px 3px 3px gray;
  height:35px;
  margin:5px;
  width:120px;
  padding-top:5px;
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;
  font-size:15px;
  font-weight: bold;
  color:#35203B;
  text-shadow:#79BD8F;
  border-radius:5px;
}

#guess-board{
  clear:both;
  height:630px;
  width: 500px;
  margin:10px auto 0px auto;
}

.row{
  display: block;
  width:500px;
  height:60px;
}


.guess{
  height:50px;
  width:300px;
  margin-left:30px;
  float:left;
  display: inline-block;
  background-color:#BDF271;
  border-radius:5px;
  box-shadow:1px 1px 1px gray;
  text-align:center;
}

.result{
  background-color:#B3FFFF;
  border-radius:5px;
  box-shadow:1px 1px 1px gray;
  display: inline-block;
  width:45px;
  height:45px;
  margin-right:45px;
  float:right;
}

#make-guess{
  width:500px;
  margin:auto;
  height:100px;
}

#guess-input-board{
  background-color:#B3FFFF;
  width:270px;
  height:60px;
  display:inline-block;
  border-radius:5px;
  box-shadow:1px 1px 1px gray;
  text-align:center;
}

.peg-input{
  background-color:#E1FFFD;
  border: 2px solid gray;
  width:35px;
  height:35px;
  border-radius:35px;
  margin:7px auto 7px auto;
  display: inline-block;
  vertical-align:center;
  border:1px solid black;
  box-shadow: 0 0 .5px 1px gray inset;
}

#guess-options{
  width:200px;
  height:100px;
  float:right;
  display:inline-block;
}

#make-guess-button{
  background-color:#1695A3;
  width:100px;
  height:40px;
  margin-top:10px;
  border-radius:5px;
  display:inline-block;
  box-shadow: 3px 3px 3px gray;
  text-align:center;
  font-family: 'Rubik Mono One', sans-serif;
  font-size:15px;
  font-weight: bold;
  color:#2F2933;
  padding-top:5px;
}

.color-option{
  width:35px;
  height:35px;
  border-radius:35px;
  margin:3px;
  display: inline-block;
  box-shadow: 3px 3px 3px gray;
}

#color-0{
  background-color:#6AF25D;
}

#color-1{
  background-color:#35203B;
}

#color-2{
  background-color:#EA2E49;
}

#color-3{
  background-color:#DB4105;
}

#color-4{
  background-color:#FFF71D;
}

#color-5{
  background-color:#1695A3;
}

#color-6{
  background-color:#8A0917;
}

#color-7{
  background-color:#00261C;
}










